*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.items{
    width: 350px;
    height: 350px;
    box-shadow: 2px 4px 6px 2px rgba(0,0,0,0.1);
    position: relative;
}
.card{
    width: 100%;
    height: 100%;
    position: relative;
}
.card img {
    width: 100%;
    height: 300px;
}
.card p{
    padding: 10px;
    font-size: 20px;
    font-family: "josefin Sans",sans-serif;
}
.butt-more{
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background:rgba(0,0,0,0.6) ;
    position: absolute;
    top: 0;
}
.butt-more a{
    width: 100%;
}
.butt-more button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
}
.card:hover .butt-more{
    display: flex;
    transition: 0.3s;
}