*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about{
    width: 100%;
    display: flex;
    gap: 50px;
   padding: 0px 100px;
}
.left{
    width: 500px;
    height: 400px;
    background-image:url("../images//Healthcare-BGV-scaled.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
}
.left img {
    width: 250px;
    height: 250px;
    z-index: 9;
}
.right{
    width: 500px;
    height: 500px;
}
.right-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right h1{
    color: #5ac1bc;
    padding: 10px ;
}
.right p {
    font-size: 16px;
    font-family:"josefin Sans",sans-serif;
    color: #56598b;
}
.right-content button{
    width: 150px;
    height: 50px;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: #5e5e5e;
}
.right-content button:hover{
    background-color: #ffff;
    color: green;
    border: 1px solid red;
}
.mission-content{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    padding: 30px 100px;
}
.our-missin-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #5e5e5e;
}
.our-missin-container h1{
    color: #5ac1bc;
}
.mission-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    height: auto;
}
.mission-card img{
    width: 100%;
    height: 150px;
}
.mission-card p{
    font-size: 16px;
    font-family:"josefin Sans",sans-serif;
    background-color: yellow;
    color: #717275;
    padding: 10px;
}
.mission-card h1{
    color: white;
    padding: 10px;
}
@media(max-width:1280px) {
    .about{
        padding: 20px 80px;
    }
    .right h1{
        font-size: 25px;
    }
    .our-missin-container{
        align-items: center;
        width: 100%;
    }
    .mission-content{
        display: grid;
        grid-template-columns:repeat(2,300px);
        justify-content: center;
        width: 100%;
    }
}
@media(max-width:1024px) {
    .about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about{
        padding: 20px 80px;
    }
    .right h1{
        font-size: 25px;
    }
}
@media(max-width:600px) {
    .right h1{
        font-size: 22px;
    }
    .left {
        width: 400px;
        height: 300px;
    }
    .right p{
        font-size: 15px;
    }
    .right{
        width: 400px;
        height: 450px;
    } 
     .mission-content{
        display: grid;
        grid-template-columns:repeat(1,300px);
        justify-content: center;
        width: 100%;
    }
}