*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
.top-head-1{
    background-color: #ffa500;
    display: flex;
    height: 50px;
    align-items: center;
}
.contact-details{
    display: flex;
    width: 50%;
    margin: 0px 50px;
    gap: 10px;
}
.contact-details a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: "Josefin Sans",sans-serif;
}
.contact-details i{
    padding: 5px;
}
.media-link{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 50px;
}
.media-link a i{
    color: white;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:rgba(0,0,0,0.6);
    position: fixed;
    z-index: 9;
}
.rotate-circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top:6px solid yellow;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@media (max-width:1280px){
    .contact-details{
        width: 100%;
    }
}
@media (max-width:900px){
    .contact-details{
        width: 70%;
    }
    .media-link{
        width: 30%;
    }
}
@media (max-width:650px){

    .contact-details{
        width: 100%;
        justify-content: center;
    }
    .media-link{
        width: 100%;
        justify-content: center;
    }
    .top-head-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}