*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-us{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 50px 100px;
    border: 1px solid black;
    gap: 50px;
}
.about-image{
    width: 40%;
    height: 500px;
}
.about-image img{
    width: 100%;
    height: 100%;
}
.about-company{
    width: 40%;
    height: 500px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    text-align: left;
    border-radius: 15px;
}
.about-company h1{
    font-size: 25px;
    color: orange;
     font-family: "josefin Sans",sans-serif;
}
.about-company p{
    font-size: 16px;
    font-family: "josefin Sans",sans-serif;
    line-height: 25px;
    padding: 20px 0px;
    color: #333333;
}