*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.review-container{
    width: 100%;
    height: 400px;
    background-color: #2222;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review{
    width: 80%;
    height: 200px;
    background-color: white;
    box-shadow: 0px 4px 0px rgba(0,0,0,0.1);
    margin: 0px 100px;
    border-radius: 15px;
}
.profile {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding-left: 100px;
    gap: 10px;
}
.profile img{
    width: 100px;
    height: 100px;
}
.customer-details{
    display: flex;
    flex-direction: column;
}
.p1{
    font-size: 18px;
    font-family: "josefin Sans",sans-serif;
    color: #777777;
    padding: 5px;
}
.p2{
    font-size: 18px;
    font-family: "josefin Sans",sans-serif;
    color: blueviolet;
    padding: 5px;
}
.comment{
    width: 80%;
    margin: 20px 100px;
    text-align: start;
}
.comment p{
    font-size: 20px;
    font-family: "josefin Sans",sans-serif;
    color: #777777;
    padding: 5px;
}
.dots{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.dots i{
    font-size: 25px;
    color: blue;
}
@media(max-width:1100px){
    .review-container{
        height: auto;
        align-items: center;
    }
    .review{
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    .profile{
        height: auto;
        padding: 0;
        justify-content: center;
    }
    .profile img{
        width: 80px;
        height: 80px;
    }
    .comment{
        font-size: 18px;
    }
    .dots{
        width: 100%;
        padding: 10px;
    }
    .dots i{
        font-size: 20px;
    }
}
@media(max-width:900px){
    .review-container{
        height: auto;
    }
    .review{
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    .profile img{
        width: 60px;
        height: 60px;
    }
    .comment{
        font-size: 15px;
    }
    .comment p{
        font-size: 15px;
    }
    .review{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:600px){
     .profile img{
        width: 50px;
        height: 50px;
    }
    .dots {
        height: auto;
    }
}