*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.detail-products{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.breadcrum-contactus{
    width: 100%;
    height: 150px;
    background-color: #5a5a5a;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.breadcrum-contactus h1{
    padding: 10px;
    color:#ffa500 ;
}
.bread-crum{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bread-crum a{
    text-decoration: none;
    font-size: 16px;
    font-family: "josefin Sans",sans-serif;
}
.bread-crum p{
    font-size: 16px;
    font-family: "josefin Sans",sans-serif;
}
.products{
    width: 100%;
    min-height:300px;
    background-color: beige;
}
.headings{
    display: grid;
    grid-template-columns: repeat(3,350px);
    padding: 20px 100px;
    height: 80px;
    border-bottom: 1px solid #5a5a5a;
    align-items: center;
}
.headings div {
    font-size: 20px;
    color: #5a5a5a;
    font-family:""josefin Sans",sans-serif";
}
.show-product{
    width: 100%;
    height: auto;
    padding: 20px 100px;
}
.list-product{
    display: grid;
    grid-template-columns: repeat(3,350px);
}
.list-product div{
    font-size: 20px;
    font-family: "josefin Sans",sans-serif;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    border-bottom: 1px solid rgb(178, 177, 177);
}
.readmore button{
    width: 150px;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    border: none;
    background-color: blue;
}
.readmore button:hover{
    background-color: black;
    color: white;
}
