*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.ourproduct-container{
    display: flex;
    height: 500px;
}
.our-product-info{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    padding:50px 50px 50px 100px;
}
.our-product-info button{
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 60px;
    font-size: 16px;
    font-family:"josefin Sans",sans-serif ;
}
.our-product-info button:hover{
    background-color: black;
    color: whitesmoke;
}
.our-product-info p{
    font-size: 16px;
    font-family: "josefin Sans",sans-serif;
    padding: 10px 0px;
    color: #5af;
    line-height: 20px;
}
.our-product-info h1{
    color: black;
    font-size: 20px;
}
.move-products{
    display: flex;
    align-items: center;
    width: 65%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/* .move-products::before,
.move-products::after{
    content: "";
    position: absolute;
    top: 0;
    width: 150px;
    height: 100%;
    z-index: 2;
}
.move-products::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.move-products::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
} */
.products-slider{
    display: flex;
    gap: 20px;
    animation: move-slide 50s linear infinite ;
}
.products-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}
@keyframes move-slide {
    0%{transform: translateX(0);}
    100%{transform: translateX(-50%);}
}
.products-card img{
    width: 100%;
    height:300px ;
    object-fit: contain;
}
.products-card p{
    font-size: 25px;
    color: orangered;
    font-family: "josefin Sans",sans-serif;
}
@media(max-width:1280px){
    .our-product-info{
         width: 40%;
    }
}
@media(max-width:1100px){
    .our-product-info{
         width: 50%;
    }
    .our-product-info p{
         font-size: 14px;
    }
    .products-card{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 350px;
        box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
    }
}
@media(max-width:1100px){
    .ourproduct-container{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .our-product-info{
         width: 100%;
         text-align: start;
         height: auto;
    }
    .our-product-info p{
         font-size: 14px;
    }
    .products-card{
        width: 200px;
        height: 300px;
    }
    .move-products{
        width: 100%;
        height: auto;
    }
    .products-card img{
        width: 100%;
        height:250px ;
        object-fit: contain;
    }
}