*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.whychoose-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.whychoose-content{
    width: 100%;
    min-height: 500px;
    background-color: blue;
}
.why-head{
    width: 100%;
    padding:20px 100px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.why-head h1{
    font-size: 28px;
    color: rgb(173, 173, 4);
}
.why-head p{
    font-size: 18px;
    color: #fff;
    padding-top: 10px;
    font-family:"josefin Sans",sans-serif;
}
.card-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,300px);
    column-gap: 50px;
    padding: 0px 100px;
}
.choose-card{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    text-align: start;
}
.choose-card p {
    font-size: 16px;
    font-family: "josefin Sans",sans-serif;
    color: #fff;
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.excellence{
    height: auto;
    font-size: 16px;
    color: #fff;
}
.quality{
    height: auto;
    font-size: 16px;
    color: #fff;
    border: 1px solid white;
}
.integrity{
    height: auto;
    font-size: 16px;
    color: #fff;
}
.excellence button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}
.choose-card img{
    width: 100px;
    height: 100px;
}
.choose-card h1{
    color:#ffa500 ;
}
.card-container button{
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
}
.short{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.full{
    height: auto;
}
.choose-card p{
    font-size: 16px;
    font-family: "josefin Sans",sans-serif;
    color: #fff;
    height: 100px;
}
.moving-content{
    width: 100%;
    height: 100px;
    background-color: #ffa500;
}
.moving-content{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: #ffa500;
    gap: 50px;
}
.text-move{
    display: flex;
    gap: 30px;
    animation:scroll-left 10s linear infinite ;
}
.text{
    display: inline-block;
    color: whitesmoke;
    font-size: 28px;
    font-family:"josefin Sans",sans-serif;
}
@keyframes scroll-left{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
@media (max-width:1280px){
    .whychoose-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:1100px){
    .whychoose-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-container{
        display:flex;
        flex-direction: column;
        gap: 10px;
    }
    .choose-card{
        height: auto;
    }
    .choose-card p{
        display: flex;
        height: auto;
    }
    .choose-card button{
        display: none;
    }
}
@media(max-width:900px){
    .moving-content{
        height: 60px;
    }
    .moving-content p{
        font-size: 18px;
    }
}
@media (max-width:600px){
    .whychoose-content h1{
        font-size: 25px;
    }
    .whychoose-content p {
        font-size: 15px;
    }
    .moving-content{
        height: 50px;
    }
    .moving-content p{
        font-size: 15px;
    }
}

