*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    gap: 30px;
    align-items: center;
    background-color: #f2f2f2f2;
}

.info{
    display: flex;
    flex-direction: column;
    width:250px;
    align-items: center;
}
.info img {
    width: 200px;
    height: 200px;
}
.info p{
    font-size: 15px;
    color: #222222;
    font-weight: bold;
}
.quick-links{
    display: flex;
    flex-direction: column;
    width: 250px;
}
.quicklinks{
    list-style: none;
   
}
.quick-links a{
    text-decoration: none;
    
}
.quick-links h1{
    color:#20C997;
}
.menu-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-size: 18px;
    
} 
.contact-info{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info h1{
    color:#20C997;
}
.menu-links a{
     font-size: 15px;
    color: #222222;
    font-weight: bold;
}
.map-link{
    width: 250px;
}
.map-link a{
    width: 100%;
}
.map-link a img{
    width: 100%;
}
.contact-content{
    display: flex;
    gap: 10px;
    padding: 10px;
}
.contact-content i{
    color:#ff6600 ;
}
.contact-content p{
    font-size: 15px;
    color: #222222;
    font-weight: bold;
}
.social-links{
    padding: 10px;
    display: flex;
    gap: 10px;
}
.social-links i{
    color: #3a3a3a;
    transition: trasform 0.5s ease;
}
.social-links i:hover {
    color: yellow;
    transform: rotate(360deg);
}
@media(max-width:1100px){
    .Footer{
        display: grid;
        grid-template-columns:repeat(2,350px);
        height:auto;
    }
    .quick-links{
        width: 350px;
    }
}
@media(max-width:700px){
    .Footer {
        display: flex;
        flex-direction: column;
    }
   
}